PORT=3000
META_VERIFY_TOKEN=your_verify_token
META_APP_SECRET=optional_meta_app_secret
ZOHO_ENABLED=false
ZOHO_CLIENT_ID=your_zoho_client_id
ZOHO_CLIENT_SECRET=your_zoho_client_secret
ZOHO_REFRESH_TOKEN=your_zoho_refresh_token
ZOHO_API_DOMAIN=https://www.zohoapis.com
ZOHO_SEGMENT_FIELD_API_NAME=segment
ZOHO_LOGO_FIELD_API_NAME=logo_requested_
ZOHO_LOGO_FIELD_TYPE=select
ZOHO_LOGO_SELECT_TRUE_VALUE=Evet
ZOHO_LOGO_SELECT_FALSE_VALUE=Hayir
